# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# Distribution files
build/
dist/
*.egg-info/

# Windows
Thumbs.db
Desktop.ini
